<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fate.ssm.mapper.BillMapper">


    <resultMap id="billMapper" type="cn.fate.ssm.beans.Bill">
        <id property="id" column="f_id"/>
        <result property="uid" column="u_id"/>
        <result property="username" column="u_name"/>
        <result property="type" column="f_type"/>
        <result property="address" column="f_address"/>
        <result property="amount" column="f_amount"/>
        <result property="instructions" column="f_instructions"/>
        <result property="valuation" column="f_valuation"/>
        <result property="rate" column="f_rate"/>
        <result property="levorprofit" column="f_levorprofit"/>
        <result property="cycle" column="f_cycle"/>
        <result property="used" column="f_used"/>
        <result property="editor" column="f_editor"/>
        <result property="area" column="f_area"/>
        <result property="plot" column="f_plot"/>
        <result property="floorprice" column="f_floorprice"/>
        <result property="houseprice" column="f_houseprice"/>
        <result property="creditplus" column="f_creditplus"/>
        <result property="mortqaqed" column="f_mortqaqed"/>
        <result property="prototype" column="f_prototype"/>
        <result property="risk" column="f_risk"/>
        <result property="commossion" column="f_commossion"/>
        <result property="jid" column="j_id"/>
        <result property="uconfirm" column="u_uconfirm"/>
        <result property="jconfirm" column="j_jconfirm"/>
        <result property="createtime" column="f_createtime"/>
        <result property="accepttime" column="f_accepttime"/>
        <result property="status" column="f_status"/>
    </resultMap>

    <!--用户发布订单-->
    <insert id="addBill" parameterType="cn.fate.ssm.beans.Bill">
        insert into bill values (0,#{uid},#{type},#{address},#{amount},#{instructions},#{valuation}
                                ,#{rate},#{levorprofit},#{cycle},#{used},#{editor},#{area},#{plot},#{floorprice}
                                ,#{houseprice},#{creditplus},#{mortqaqed},#{prototype},#{risk},#{commossion}
                                ,#{jid},0,0,#{createtime},#{accepttime},0);
    </insert>
    <!--用户接单-->
    <update id="acceptBill">
        update bill set j_id = #{uid} where f_id = #{id}
    </update>
    <!--后台审核订单-->
    <update id="checkBill">
        update bill set f_status = #{status} where f_id = #{id}
    </update>
    <!--根据贷款类型查询相关订单-->
    <select id="selectBillListByType" resultMap="billMapper">
        select b.*,u.u_name from bill b left join f_user u on b.u_id = u.u_id where f_type = #{type} and j_id = 0 and f_status = 2;
    </select>


    <!--查询最新的20个订单-->
    <select id="findNewestBill"  resultMap="billMapper" resultType="cn.fate.ssm.beans.Bill">
      select * from financial.bill inner join f_user on bill.u_id=f_user.u_id where bill.j_id=-1 and bill.f_status=2 order by bill.f_createtime desc,bill.f_id desc limit 0,20;
    </select>

    <!--根据id查询订单-->
    <select id="findById" resultMap="billMapper">
        select * from financial.bill where bill.f_id=#{id};
    </select>

    <!--根据用户ID查询用户发布的订单-->
    <select id="myInvoice" resultMap="billMapper" resultType="cn.fate.ssm.beans.Bill">
    SELECT * FROM bill inner join  f_user on bill.u_id=f_user.u_id WHERE bill.u_id=#{id}

    </select>

    <!--根据用户ID查询用户接取的订单-->
    <select id="myReceipt" resultMap="billMapper" resultType="cn.fate.ssm.beans.Bill">
        SELECT * FROM bill inner join  f_user on bill.u_id=f_user.u_id WHERE bill.j_id=#{id}
    </select>

    <!--根据ID删除订单-->
    <delete id="cancelBill">
        delete from financial.bill where f_id=#{id};
    </delete>

    <!--发单人确认交易-->
    <update id="issuerConfirm">
        update financial.bill set u_uconfirm=1 where f_id=#{id};
    </update>

    <!--接单人确认交易-->
    <update id="receiverConfirm">
        update financial.bill set j_jconfirm=1 where f_id=#{id};
    </update>

    <!--发单人取消交易-->
    <update id="IcancellationOfTransactions">
        update financial.bill set u_uconfirm=0 where f_id=#{id};
    </update>

    <!--接单人取消交易-->
    <update id="RcancellationOfTransactions">
        update financial.bill set j_jconfirm=0 where f_id=#{id};
    </update>

</mapper>