<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fate.ssm.mapper.UserMapper">


    <resultMap id="userMap" type="cn.fate.ssm.beans.User">
        <id property="id" column="u_id"/>
        <result property="sex" column="u_sex"/>
        <result property="password" column="u_password"/>
        <result property="username" column="u_username"/>
        <result property="phone" column="u_phone"/>
        <result property="idCard" column="u_idcard"/>
        <result property="company" column="u_company"/>
        <result property="name" column="u_name"/>
        <result property="msg" column="u_msg"/>
        <result property="address" column="u_address"/>
    </resultMap>

<!--用户登陆验证-->
    <select id="userQuery" parameterType="cn.fate.ssm.beans.User" resultMap="userMap" >
        select * from f_user where u_pwd=#{password} and u_username = #{username}
    </select>


</mapper>