<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fate.ssm.mapper.UserMapper">


    <resultMap id="userMap" type="cn.fate.ssm.beans.User">
        <id property="id" column="u_id"/>
        <result property="sex" column="u_sex"/>
        <result property="password" column="u_password"/>
        <result property="phone" column="u_phone"/>
        <result property="idCard" column="u_idcard"/>
        <result property="company" column="u_company"/>
        <result property="name" column="u_name"/>
        <result property="msg" column="u_msg"/>
        <result property="address" column="u_address"/>
    </resultMap>

    <insert id="registerUser" parameterType="cn.fate.ssm.beans.User">
        insert into f_user (u_id, u_pwd, u_phone,u_name,u_sex)
        VALUES (0,#{password},#{phone},#{name},#{sex})
    </insert>

    <!--用户登陆验证-->
    <select id="userQuery" parameterType="cn.fate.ssm.beans.User" resultMap="userMap" >
        select * from f_user where u_pwd=#{password} and u_phone = #{phone}
    </select>

    <!--查询手机号是否存在-->
    <select id="userQueryByPhone" resultType="cn.fate.ssm.beans.User" resultMap="userMap" >
        select u_phone from f_user where u_phone = #{phone}
    </select>


</mapper>